<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
	<link th:href="@{/css/bootstrap.5.3.0/bootstrap.css}" rel="stylesheet">
	<script th:src="@{/js/popper.2.11.8.umd/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.5.3.0/bootstrap.min.js}"></script>
	<title>Error page</title>
</head>

<body>
<div class="container-fluid p-0">

	<header th:insert="blocks/header :: header"></header>
	<div th:insert="blocks/loginModal :: login"></div>
	<div th:insert="blocks/registerMadal :: sign"></div>

	<div class="album py-5 bg-body-tertiary min-vh-100">
		<div class="container">
			<div class="p-4 rounded-3 border shadow-lg text-center align-items-center pb-5">
				<h1 class="pb-1">500</h1>
				<h3 class="pb-2">One moment...</h3>
				<span class="pb-3">The server is not feeling well :(</span>
				<div class="row container pt-3">
					<div class="col-3"></div>
					<img class="col-6" height="100%" th:src="@{/img/500.png}" alt="error img">
					<div class="col-3"></div>
				</div>
			</div>
		</div>
	</div>


	<div class="fixed-bottom bg-white">
		<footer th:insert="blocks/footer :: footer"></footer>
	</div>
</div>
</body>
</html>