<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" th:fragment="card">
  <div th:each="card: ${cards}">
    <div class="col">
      <div class="card shadow-sm">
        <a th:href="@{/films/{filmId}(filmId=${card.filmId})}">
          <img class="bd-placeholder-img card-img-top" width="100%" height="100%" th:src="@{/files/{fileId}(fileId=${card.fileId})}">
        </a>
        <div class="card-body">
          <p class="card-text">
          <ul>
            <h4 th:text="${card.name}"></h4>
            <li>Duration : <a th:text="${card.durationInMinutes}"></a> min</li>
            <li>Genre : <a th:text="${card.genre}"></a></li>
            <li>Age : <a th:text="${card.minimalAge}"></a> years</li>
          </ul>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>