<header data-bs-theme="dark" th:fragment="headerWithoutAuth">
	<nav class="py-2 bg-body-tertiary border-bottom bg-dark">
		<div class="container d-flex flex-wrap">
			<ul class="nav">
				<li class="nav-item me-4">
					<a href="/"><img th:src="@{../img/logo.svg}" alt="logo" height="38"></a>
				</li>
			</ul>
			<ul class="nav">
				<li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2">Home</a></li>
			</ul>
			<ul class="nav">
				<li class="nav-item"><a href="/sessions/list" class="nav-link link-body-emphasis px-2">Schedule</a></li>
			</ul>
			<ul class="nav me-auto">
				<li class="nav-item"><a href="/films/list" class="nav-link link-body-emphasis px-2">Filmography</a></li>
			</ul>
		</div>
	</nav>
</header>