<div th:fragment="payment">
  <form th:action="@{/sessions/bye}" method="post">
    <input type="hidden" name="sessionId" th:value="${filmSession.getId()}">
    <input type="hidden" name="userId" th:value="${user.id}">

    <div class="row col-5 pt-5 pb-3">
      <h5 th:text="'Place:'"></h5>
      <div class="col-6">
        <h6 th:text="'Row'"></h6>
        <label for="row"></label>
        <select id="row" name="rowNumber" style="width: 50px" required>
          <option value="" selected disabled hidden></option>
          <option th:each="row : ${rows}" th:value="${row}" th:text="${row}" th:vield="*{row}"></option>
        </select>
      </div>
      <div class="col-6">
        <h6 th:text="'Place'"></h6>
        <label for="col"></label>
        <select id="col" name="placeNumber" style="width: 50px" required>
          <option value="" selected disabled hidden></option>
          <option th:each="place : ${places}" th:value="${place}" th:text="${place}"></option>
        </select>
      </div>
    </div>

    <div class="pt-2">
      <span>When you click continue, you will be redirected to the payment site.</span>
    </div>

    <hr class="my-3">

    <div class="row">
      <div class="col-6">
        <div class="w-100 btn btn-danger btn-lg" type="button" onclick="window.history.back()">Cancel</div>
      </div>
      <div th:if="${user.id != 0}" class="col-6 text-center">
        <button class="w-100 btn btn-primary btn-lg" type="submit">Continue</button>
      </div>
      <div th:if="${user.id == 0}" class="col-6 text-center">
        <button class="w-100 btn btn-primary btn-lg mb-2" type="submit" disabled>Continue</button>
        <span class="fw-bold">Authorization required</span>
      </div>
    </div>
  </form>
</div>