<div class="overflow-scroll dropdown-toggle m-3" th:fragment="10x20">
	<div>
		<span>01 row</span>
		<div th:class="${schema.getValue(1, 1)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">1</div>
		<div th:class="${schema.getValue(1, 2)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">2</div>
		<div th:class="${schema.getValue(1, 3)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">3</div>
		<div th:class="${schema.getValue(1, 4)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">4</div>
		<div th:class="${schema.getValue(1, 5)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">5</div>
		<div th:class="${schema.getValue(1, 6)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">6</div>
		<div th:class="${schema.getValue(1, 7)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">7</div>
		<div th:class="${schema.getValue(1, 8)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">8</div>
		<div th:class="${schema.getValue(1, 9)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">9</div>
		<div th:class="${schema.getValue(1, 10)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">10</div>
		<div th:class="${schema.getValue(1, 11)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">11</div>
		<div th:class="${schema.getValue(1, 12)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">12</div>
		<div th:class="${schema.getValue(1, 13)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">13</div>
		<div th:class="${schema.getValue(1, 14)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">14</div>
		<div th:class="${schema.getValue(1, 15)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">15</div>
		<div th:class="${schema.getValue(1, 16)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">16</div>
		<div th:class="${schema.getValue(1, 17)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">17</div>
		<div th:class="${schema.getValue(1, 18)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">18</div>
		<div th:class="${schema.getValue(1, 19)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">19</div>
		<div th:class="${schema.getValue(1, 20)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">20</div>
		<span>01 row</span>
	</div>
	<div>
		<span>02 row</span>
		<div th:class="${schema.getValue(2, 1)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">1</div>
		<div th:class="${schema.getValue(2, 2)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">2</div>
		<div th:class="${schema.getValue(2, 3)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">3</div>
		<div th:class="${schema.getValue(2, 4)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">4</div>
		<div th:class="${schema.getValue(2, 5)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">5</div>
		<div th:class="${schema.getValue(2, 6)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">6</div>
		<div th:class="${schema.getValue(2, 7)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">7</div>
		<div th:class="${schema.getValue(2, 8)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">8</div>
		<div th:class="${schema.getValue(2, 9)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">9</div>
		<div th:class="${schema.getValue(2, 10)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">10</div>
		<div th:class="${schema.getValue(2, 11)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">11</div>
		<div th:class="${schema.getValue(2, 12)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">12</div>
		<div th:class="${schema.getValue(2, 13)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">13</div>
		<div th:class="${schema.getValue(2, 14)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">14</div>
		<div th:class="${schema.getValue(2, 15)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">15</div>
		<div th:class="${schema.getValue(2, 16)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">16</div>
		<div th:class="${schema.getValue(2, 17)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">17</div>
		<div th:class="${schema.getValue(2, 18)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">18</div>
		<div th:class="${schema.getValue(2, 19)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">19</div>
		<div th:class="${schema.getValue(2, 20)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">20</div>
		<span>02 row</span>
	</div>
	<div>
		<span>03 row</span>
		<div th:class="${schema.getValue(3, 1)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">1</div>
		<div th:class="${schema.getValue(3, 2)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">2</div>
		<div th:class="${schema.getValue(3, 3)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">3</div>
		<div th:class="${schema.getValue(3, 4)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">4</div>
		<div th:class="${schema.getValue(3, 5)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">5</div>
		<div th:class="${schema.getValue(3, 6)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">6</div>
		<div th:class="${schema.getValue(3, 7)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">7</div>
		<div th:class="${schema.getValue(3, 8)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">8</div>
		<div th:class="${schema.getValue(3, 9)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">9</div>
		<div th:class="${schema.getValue(3, 10)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">10</div>
		<div th:class="${schema.getValue(3, 11)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">11</div>
		<div th:class="${schema.getValue(3, 12)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">12</div>
		<div th:class="${schema.getValue(3, 13)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">13</div>
		<div th:class="${schema.getValue(3, 14)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">14</div>
		<div th:class="${schema.getValue(3, 15)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">15</div>
		<div th:class="${schema.getValue(3, 16)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">16</div>
		<div th:class="${schema.getValue(3, 17)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">17</div>
		<div th:class="${schema.getValue(3, 18)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">18</div>
		<div th:class="${schema.getValue(3, 19)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">19</div>
		<div th:class="${schema.getValue(3, 20)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">20</div>
		<span>03 row</span>
	</div>
	<div>
		<span>04 row</span>
		<div th:class="${schema.getValue(4, 1)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">1</div>
		<div th:class="${schema.getValue(4, 2)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">2</div>
		<div th:class="${schema.getValue(4, 3)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">3</div>
		<div th:class="${schema.getValue(4, 4)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">4</div>
		<div th:class="${schema.getValue(4, 5)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">5</div>
		<div th:class="${schema.getValue(4, 6)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">6</div>
		<div th:class="${schema.getValue(4, 7)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">7</div>
		<div th:class="${schema.getValue(4, 8)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">8</div>
		<div th:class="${schema.getValue(4, 9)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">9</div>
		<div th:class="${schema.getValue(4, 10)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">10</div>
		<div th:class="${schema.getValue(4, 11)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">11</div>
		<div th:class="${schema.getValue(4, 12)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">12</div>
		<div th:class="${schema.getValue(4, 13)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">13</div>
		<div th:class="${schema.getValue(4, 14)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">14</div>
		<div th:class="${schema.getValue(4, 15)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">15</div>
		<div th:class="${schema.getValue(4, 16)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">16</div>
		<div th:class="${schema.getValue(4, 17)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">17</div>
		<div th:class="${schema.getValue(4, 18)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">18</div>
		<div th:class="${schema.getValue(4, 19)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">19</div>
		<div th:class="${schema.getValue(4, 20)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">20</div>
		<span>04 row</span>
	</div>
	<div>
		<span>05 row</span>
		<div th:class="${schema.getValue(5, 1)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">1</div>
		<div th:class="${schema.getValue(5, 2)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">2</div>
		<div th:class="${schema.getValue(5, 3)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">3</div>
		<div th:class="${schema.getValue(5, 4)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">4</div>
		<div th:class="${schema.getValue(5, 5)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">5</div>
		<div th:class="${schema.getValue(5, 6)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">6</div>
		<div th:class="${schema.getValue(5, 7)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">7</div>
		<div th:class="${schema.getValue(5, 8)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">8</div>
		<div th:class="${schema.getValue(5, 9)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">9</div>
		<div th:class="${schema.getValue(5, 10)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">10</div>
		<div th:class="${schema.getValue(5, 11)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">11</div>
		<div th:class="${schema.getValue(5, 12)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">12</div>
		<div th:class="${schema.getValue(5, 13)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">13</div>
		<div th:class="${schema.getValue(5, 14)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">14</div>
		<div th:class="${schema.getValue(5, 15)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">15</div>
		<div th:class="${schema.getValue(5, 16)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">16</div>
		<div th:class="${schema.getValue(5, 17)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">17</div>
		<div th:class="${schema.getValue(5, 18)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">18</div>
		<div th:class="${schema.getValue(5, 19)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">19</div>
		<div th:class="${schema.getValue(5, 20)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">20</div>
		<span>05 row</span>
	</div>
	<div>
		<span>06 row</span>
		<div th:class="${schema.getValue(6, 1)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">1</div>
		<div th:class="${schema.getValue(6, 2)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">2</div>
		<div th:class="${schema.getValue(6, 3)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">3</div>
		<div th:class="${schema.getValue(6, 4)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">4</div>
		<div th:class="${schema.getValue(6, 5)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">5</div>
		<div th:class="${schema.getValue(6, 6)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">6</div>
		<div th:class="${schema.getValue(6, 7)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">7</div>
		<div th:class="${schema.getValue(6, 8)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">8</div>
		<div th:class="${schema.getValue(6, 9)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">9</div>
		<div th:class="${schema.getValue(6, 10)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">10</div>
		<div th:class="${schema.getValue(6, 11)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">11</div>
		<div th:class="${schema.getValue(6, 12)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">12</div>
		<div th:class="${schema.getValue(6, 13)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">13</div>
		<div th:class="${schema.getValue(6, 14)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">14</div>
		<div th:class="${schema.getValue(6, 15)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">15</div>
		<div th:class="${schema.getValue(6, 16)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">16</div>
		<div th:class="${schema.getValue(6, 17)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">17</div>
		<div th:class="${schema.getValue(6, 18)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">18</div>
		<div th:class="${schema.getValue(6, 19)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">19</div>
		<div th:class="${schema.getValue(6, 20)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">20</div>
		<span>06 row</span>
	</div>
	<div>
		<span>07 row</span>
		<div th:class="${schema.getValue(7, 1)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">1</div>
		<div th:class="${schema.getValue(7, 2)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">2</div>
		<div th:class="${schema.getValue(7, 3)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">3</div>
		<div th:class="${schema.getValue(7, 4)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">4</div>
		<div th:class="${schema.getValue(7, 5)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">5</div>
		<div th:class="${schema.getValue(7, 6)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">6</div>
		<div th:class="${schema.getValue(7, 7)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">7</div>
		<div th:class="${schema.getValue(7, 8)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">8</div>
		<div th:class="${schema.getValue(7, 9)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">9</div>
		<div th:class="${schema.getValue(7, 10)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">10</div>
		<div th:class="${schema.getValue(7, 11)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">11</div>
		<div th:class="${schema.getValue(7, 12)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">12</div>
		<div th:class="${schema.getValue(7, 13)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">13</div>
		<div th:class="${schema.getValue(7, 14)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">14</div>
		<div th:class="${schema.getValue(7, 15)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">15</div>
		<div th:class="${schema.getValue(7, 16)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">16</div>
		<div th:class="${schema.getValue(7, 17)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">17</div>
		<div th:class="${schema.getValue(7, 18)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">18</div>
		<div th:class="${schema.getValue(7, 19)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">19</div>
		<div th:class="${schema.getValue(7, 20)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">20</div>
		<span>07 row</span>
	</div>
	<div>
		<span>08 row</span>
		<div th:class="${schema.getValue(8, 1)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">1</div>
		<div th:class="${schema.getValue(8, 2)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">2</div>
		<div th:class="${schema.getValue(8, 3)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">3</div>
		<div th:class="${schema.getValue(8, 4)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">4</div>
		<div th:class="${schema.getValue(8, 5)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">5</div>
		<div th:class="${schema.getValue(8, 6)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">6</div>
		<div th:class="${schema.getValue(8, 7)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">7</div>
		<div th:class="${schema.getValue(8, 8)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">8</div>
		<div th:class="${schema.getValue(8, 9)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">9</div>
		<div th:class="${schema.getValue(8, 10)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">10</div>
		<div th:class="${schema.getValue(8, 11)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">11</div>
		<div th:class="${schema.getValue(8, 12)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">12</div>
		<div th:class="${schema.getValue(8, 13)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">13</div>
		<div th:class="${schema.getValue(8, 14)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">14</div>
		<div th:class="${schema.getValue(8, 15)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">15</div>
		<div th:class="${schema.getValue(8, 16)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">16</div>
		<div th:class="${schema.getValue(8, 17)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">17</div>
		<div th:class="${schema.getValue(8, 18)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">18</div>
		<div th:class="${schema.getValue(8, 19)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">19</div>
		<div th:class="${schema.getValue(8, 20)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">20</div>
		<span>08 row</span>
	</div>
	<div>
		<span>09 row</span>
		<div th:class="${schema.getValue(9, 1)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">1</div>
		<div th:class="${schema.getValue(9, 2)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">2</div>
		<div th:class="${schema.getValue(9, 3)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">3</div>
		<div th:class="${schema.getValue(9, 4)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">4</div>
		<div th:class="${schema.getValue(9, 5)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">5</div>
		<div th:class="${schema.getValue(9, 6)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">6</div>
		<div th:class="${schema.getValue(9, 7)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">7</div>
		<div th:class="${schema.getValue(9, 8)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">8</div>
		<div th:class="${schema.getValue(9, 9)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">9</div>
		<div th:class="${schema.getValue(9, 10)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">10</div>
		<div th:class="${schema.getValue(9, 11)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">11</div>
		<div th:class="${schema.getValue(9, 12)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">12</div>
		<div th:class="${schema.getValue(9, 13)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">13</div>
		<div th:class="${schema.getValue(9, 14)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">14</div>
		<div th:class="${schema.getValue(9, 15)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">15</div>
		<div th:class="${schema.getValue(9, 16)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">16</div>
		<div th:class="${schema.getValue(9, 17)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">17</div>
		<div th:class="${schema.getValue(9, 18)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">18</div>
		<div th:class="${schema.getValue(9, 19)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">19</div>
		<div th:class="${schema.getValue(9, 20)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">20</div>
		<span>09 row</span>
	</div>
	<div>
		<span>10 row</span>
		<div th:class="${schema.getValue(10, 1)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">1</div>
		<div th:class="${schema.getValue(10, 2)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">2</div>
		<div th:class="${schema.getValue(10, 3)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">3</div>
		<div th:class="${schema.getValue(10, 4)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">4</div>
		<div th:class="${schema.getValue(10, 5)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">5</div>
		<div th:class="${schema.getValue(10, 6)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">6</div>
		<div th:class="${schema.getValue(10, 7)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">7</div>
		<div th:class="${schema.getValue(10, 8)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">8</div>
		<div th:class="${schema.getValue(10, 9)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">9</div>
		<div th:class="${schema.getValue(10, 10)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">10</div>
		<div th:class="${schema.getValue(10, 11)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">11</div>
		<div th:class="${schema.getValue(10, 12)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">12</div>
		<div th:class="${schema.getValue(10, 13)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">13</div>
		<div th:class="${schema.getValue(10, 14)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">14</div>
		<div th:class="${schema.getValue(10, 15)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">15</div>
		<div th:class="${schema.getValue(10, 16)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">16</div>
		<div th:class="${schema.getValue(10, 17)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">17</div>
		<div th:class="${schema.getValue(10, 18)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">18</div>
		<div th:class="${schema.getValue(10, 19)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">19</div>
		<div th:class="${schema.getValue(10, 20)} ? 'm-1 btn btn-danger' : 'm-1 btn btn-light'">20</div>
		<span>10 row</span>
	</div>
</div>